. ~/.git_aliases

alias ls="exa" l='ls -F --icons' la='l -a' ll='l -l' lo='l -al'
alias md="mkdir"
alias tarview="tar -tvf"
alias grep="rg"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias md="mkdir"
alias tarview="tar -tvf"
alias find=fd
alias cat=bat
alias top=btop htop=btop
alias apt="doas nala"
alias du=dust
alias ps=procs
alias cd=zi
alias ssh="TERM=xterm-256color ssh"
alias nnn="nnn -a -H -Pp"
alias vim=nvim vi=vim v=vi
alias magento-cloud='TERM=xterm-256color magento-cloud'
